doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
  body
    h1 Fast Food Chains
    a(href='/update-cobj') Add to this table

    table(border='1')
      thead
        tr
          th Name
          th Chain Type
          th Chain Bio
      tbody
        each record in records
          tr
            td= record.properties.chain_name || ''
            td= record.properties.chain_type || ''
            td= record.properties.chain_bio || ''
